@page "/adduser"

@inject IToastService toastService
@inject NavigationManager navigationManager
<h3>Thêm CTV</h3>
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <label>Mã CTV:</label>
                <input type="text" class="form-control" @bind-value="user.ID">
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <label>Tên:</label>
                <input type="text" class="form-control" @bind-value="user.NAME">
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <label>Số điện thoại</label>
                <input type="tel" class="form-control" @bind-value="user.PHONE">
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <button type="button" class="btn btn-primary" @onclick="BtnAddUser">Add</button>
    </div>
</div>
<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="2"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />


@code {
    private UserDAO userDAO = new UserDAO();
    private UserModel user = new UserModel();

    public async void BtnAddUser()
    {
        user.CREATEDATE = DateTime.Now;
        user.CREATEUSER = "ADMIN";
        if (await userDAO.AddUser(user) == "success")
        {
            toastService.ShowSuccess("Thêm CTV thành công!");
            await Task.Delay(2000);
            navigationManager.NavigateTo("userview");
            //StateHasChanged();
        }
        else
        {
            toastService.ShowError("Có lỗi xảy ra xin thử lại");
        }
    }

}
