@page "/adduser"
<h3>UserAdd</h3>
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <input type="text" class="form-control" placeholder="ID" @bind-value="user.ID">
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <input type="text" class="form-control" placeholder="Tên" @bind-value="user.NAME">
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <input type="text" class="form-control" placeholder="Link FB" @bind-value="user.SOCIAL">
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <input type="text" class="form-control" placeholder="SĐT" @bind-value="user.PHONE">
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <button type="button" class="btn btn-primary" @onclick="BtnAddUser">Add</button>
    </div>
</div>

@code {
    private UserDAO userDAO = new UserDAO();
    private UserModel user = new UserModel();

    public async void BtnAddUser()
    {
        user.CREATEDATE = DateTime.Now;
        user.CREATEUSER = "ADMIN";
        await userDAO.AddUser(user);
        //StateHasChanged();
    }

}
